@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
body {
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 1rem;
	background-color: whitesmoke;
	font-family: "Geist", sans-serif;
}
.hero-navbar-sidebar-button{
	display: none;
}

/* Hero Section */
.hero {
	background-color: #87cefa;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 1rem;
	transition: all 0.1s ease;
	overflow-x: hidden;
}
.hero .hero-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 2rem;
	transition: all 0.1s ease;
}
.hero-navbar-logo {
	width: 25%;
	font-weight: bold;
	font-size: 1rem;
	text-decoration: none;
	color: #333333;
	transition: all 0.1s ease;
}
.hero-navbar-menu {
	width: 75%;
	display: none;
	justify-content: flex-end;
	gap: 1rem;
}
.hero-navbar-menu a {
	text-decoration: none;
	color: #000000;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
}
.hero-navbar-menu a:hover {
	background-color: #3c9dd0;
	color: #ffffff;
}
.hero-content {
	display: flex;
}
.hero-text {
	width: 90%;
}
.hero-text-title {
	width: 75%;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #333333;
	text-shadow: 0px 3px 3px rgba(51, 51, 51, 0.4);
}
.hero-text-desc {
	width: 100%;
	font-size: 0.8rem;
	margin-bottom: 1rem;
	color: #333333;
	text-shadow: 0px 3px 3px rgba(51, 51, 51, 0.4);
	margin-bottom: 4rem;
}
.hero-image {
	width: 10%;
}
.hero-image img {
	position: relative;
	left: -6rem;
	width: 1300%;
	height: 50%;
	z-index: 100;
	transition: all 0.1s ease	;
}
.hero-button {
	display: flex;
	width: 50%;
	gap: 2rem;
	align-items: center;
}
.hero-button a {
	font-weight: 400;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 30px;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}
.hero-button a img {
	margin-right: 0.5rem;
	width: 1rem;

}
.hero-button-order {
	display: flex;
	align-items: center;
	background-color: rgba(24, 24, 27, 0.8);
	color: #ffffff;
}
.hero-button-pricing {
	display: flex;
	align-items: center;
	color: #333333;
	border: 1px solid #333333;
}
.cutting-off-text {
	display: none;
	margin: 0 4px;
}

/* End Hero Section */