---
import "../styles/styles.css"
import "../styles/responsive.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/Laundryku.svg">
		<title>LaundryKu</title>
	</head>
	<body>
		<div class="hero">
			<div class="hero-navbar">
				<div class="hero-navbar-logo">Laundryku</div>
				<div class="hero-navbar-menu">
					<a href="#" class="hero-navbar-menu-item">Beranda</a>
					<a href="#" class="hero-navbar-menu-item">Harga</a>
					<a href="#" class="hero-navbar-menu-item">Testimoni</a>
					<a href="#" class="hero-navbar-menu-item">Kontak</a>
				</div>
				<a href="#" class="hero-navbar-sidebar-button">
					<img src="/icons/sidebar.svg" />
				</a>
			</div>
			<div class="hero-content">
				<div class="hero-text">
					<div class="hero-text-title">Solusi praktis untuk pakaian bersih</div>
					<div class="hero-text-desc">
						Kamu yang ingin pakaian bersih, wangi, dan rapi tanpa repot. Layanan laundry terpercaya dengan kualitas
						premium.
					</div>
					<div class="hero-button">
						<a href="#" class="hero-button-order">
							<img src="/icons/shoping-cart.svg" alt="" />
							Pesan
							<span class="cutting-off-text">Sekarang</span>
						</a>
						<a href="#" class="hero-button-pricing">
							<img src="/icons/dollar.svg" alt="" />
							<span class="cutting-off-text">Lihat</span> Harga
						</a>
					</div>
				</div>
				<div class="hero-image">
					<img src="/images/foto-tumpukan-baju.png" />
				</div>
			</div>
		</div>
	</body>
</html>
